<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Framework\Mail\Template\TransportBuilderInterface" type="WeProvide\MailAttachment\Model\TransportBuilderInterface" />
    <preference for="WeProvide\MailAttachment\Model\ConfigInterface" type="WeProvide\MailAttachment\Model\Config" />
    <preference for="WeProvide\MailAttachment\Model\MailInterface" type="WeProvide\MailAttachment\Model\Mail" />
    <preference for="WeProvide\MailAttachment\ViewModel\ViewModelInterface" type="WeProvide\MailAttachment\ViewModel\ViewModel" />
    <preference for="WeProvide\MailAttachment\Model\TransportBuilderInterface" type="WeProvide\MailAttachment\Model\TransportBuilder" />
</config>
